//Blog Colors

$body-background: #343538;
$light-background: ghostwhite;
$text-on-bodybackground: #ededed;
$main-color: #ff2615;
$white-card: #ffffff;

//Text Colors

$black-header: #101010;
$black-paragraph: #212529;
$light-grey-paragraph: #474747;

//Social Colors
$youtube: #c4302b;
$twitter: #00acee;
$instagram: #c13584;
$facebook: #3b5998;
$linkedin: #0e86a8;
