@import "../sass/colors.scss";

body {
  background-color: $body-background;
  > a {
    font-size: 20px;
    color: $text-on-bodybackground !important;

    &:hover {
      color: $main-color !important;
    }
  }
  .dark {
    color: $text-on-bodybackground;
    padding: 30px 0;
  }
  .light {
    background-color: $light-background;
    color: $black-paragraph;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }
}
