@import "../../sass/index.scss";

.bg-menu {
  color: $text-on-bodybackground !important;
  background-color: $body-background;

  #responsive-navbar-nav {
    .mr-auto {
      > a {
        font-size: 20px;
        color: $text-on-bodybackground !important;

        &:hover {
          color: $main-color !important;
        }
      }
    }
  }
}
