@import "../../sass/index.scss";
.cover {
  .col > h1 {
    text-align: center;
    margin-top: 40px;
    font-weight: 30px;
    font-weight: bold;
  }
  .col > p {
    text-align: center;
  }
  #title {
    color: $main-color;
  }
}
