@import "../../sass/index.scss";

.second-post-list {
  .card-title {
    color: $black-header;
    &:hover {
      color: $main-color !important;
    }
  }
  .card-body {
    height: 90px;
    overflow: hidden;
  }
  .col-6 {
    padding: 30px 15px;
  }
}
