@import "../../sass/index.scss";

.social-media {
  > a {
    .icon {
      &.youtube {
        color: $youtube !important;
      }

      &.twitter {
        color: $twitter !important;
      }
    }
  }
}
